@import './colors'

%stat-label
  display: inline-block
  color: $anti-flash_white
  font: 700 1em 'Noto Serif', serif
  height: 21px
  margin: 2.5px 0
  padding: 2px 0

%underline_field
  display: inline-block
  font: normal 1em serif
  color: black
  line-height: 21px
  border-bottom: black 2px solid
  height: 23px
  width: 50px
  margin: 2.5px 10px

%underline_input
  border: none
  border-bottom: black 2px solid
  color: black
  text-align: center
  height: 21px

%column-label
  display: inline-block
  width: 50px
  margin: 2.5px 10px
  padding: 2px 0
  text-align: center
  color: black
  font: normal 0.65em 'Noto Sans', sans-serif